<html>
    <head>
        <link rel="stylesheet" href="../../css/bootstrap.css">
        <link rel="stylesheet" href="../../css/styles.css">
        <title>EdBuilder</title>
    </head>
    <body>
        <!-- Navbar -->
        <nav class="navbar navbar-inverse">
          <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse" aria-expanded="true">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/show_dashboard/{{ user.getId }}">EdBuilder</a>
            </div>

            <div class="navbar-collapse collapse in" id="navbar-collapse" aria-expanded="true">
                <ul class="nav navbar-nav">
                    <li><a href="/show_dashboard/{{user.getId}}">Your Courses</a></li>
                    <li><a href="/show_course/{{course.getId}}">{{course.getTitle}} Units</a></li>
                    <li><a href="/show_unit/{{unit.getId}}">{{unit.getTitle}} Lessons</a></li>
                    <li><a href="/show_lesson/{{lesson.getId}}">Back to {{lesson.getTitle}}</a></li>
                </ul>
              <ul class="nav navbar-nav navbar-right">
                <li><a href="/logout/{{ user.getId }}">Logout</a></li>
                <!-- <li><a href="/about">About</a></li> -->
              </ul>
            </div>
          </div>
        </nav>
        <!-- End Navbar -->

        <div class="container">
            <!-- Edit unit Form -->
            <div class="well well-shadow">
                <form class="form-horizontal" action="edit_lesson/{{lesson.getId}}" method="post">
                    <fieldset>
                        <div class="form-group">
                            <legend>Edit lesson information:</legend>
                            <input name="_method" type="hidden" value="patch" />

                            <label class="control-label col-lg-2" for="new_title">New Title</label>
                            <div class="col-lg-10">
                                <input class="form-control" name="new_title" type="text" value="{{lesson.getTitle}}" required />
                            </div>

                            <label class="control-label col-lg-2" for="new_objective">New Objective</label>
                            <div class="col-lg-10">
                                <input class="form-control" name="new_objective" type="text" value="{{lesson.getObjective}}" required />
                            </div>

                            <label class="control-label col-lg-2" for="new_materials">New Materials</label>
                            <div class="col-lg-10">
                                <input class="form-control" name="new_materials" type="text" value="{{lesson.getMaterials}}" required />
                            </div>

                            <label class="control-label col-lg-2" for="new_body">Narrative</label>
                            <div class="col-lg-10">
                                <textarea class="form-control" rows="10" name="new_body" type="text">{{lesson.getBody}}</textarea>
                                <span class="help-block">Narrate your lesson here. Be aware that formatting isn't saved yet. It's on the way, though!</span>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-lg-10 col-lg-offset-2">
                                <button type="submit" class="btn btn-warning btn-lg">Update</button>
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
            <!-- End edit lesson form -->
        </div>
    </body>
</html>
