<html>
    <head>
        <link rel="stylesheet" href="../../css/bootstrap.css">
        <title>EdBuilder</title>
    </head>
    <body>
        <!-- Navbar -->
        <nav class="navbar navbar-inverse">
          <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse" aria-expanded="true">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">EdBuilder</a>
            </div>

            <div class="navbar-collapse collapse in" id="navbar-collapse" aria-expanded="true">
                <ul class="nav navbar-nav">
                    <li><a href="/show_dashboard/{{user.getId}}">Your Courses</a></li>
                    <li><a href="/show_course/{{course.getId}}">{{course.getTitle}} Units</a></li>
                    <li><a href="/show_unit/{{unit.getId}}">{{unit.getTitle}} Lessons</a></li>
                </ul>
              <ul class="nav navbar-nav navbar-right">
                <li><a href="/">Logout</a></li>
                <li><a href="/about">About</a></li>
              </ul>
            </div>
          </div>
        </nav>
        <!-- End Navbar -->

        <div class="container">
            <!-- Edit unit Form -->
            <div class="well">
                <form class="form-horizontal" action="edit_unit/{{unit.getId}}" method="post">
                    <fieldset>
                        <div class="form-group">
                            <legend>Edit unit information:</legend>
                            <input name="_method" type="hidden" value="patch" />

                            <label class="control-label col-lg-2" for="new_title">New Title</label>
                            <div class="col-lg-10">
                                <input class="form-control" name="new_title" type="text" value="{{unit.getTitle}}" required />
                            </div>

                            <label class="control-label col-lg-2" for="new_description">New Description</label>
                            <div class="col-lg-10">
                                <input class="form-control" name="new_description" type="text" value="{{unit.getDescription}}" required />
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-lg-10 col-lg-offset-2">
                                <button type="submit" class="btn btn-warning btn-lg">Update</button>
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
            <!-- End edit unit form -->
        </div>
    </body>
</html>
