<html>
    <head>
        <link rel="stylesheet" href="../../css/bootstrap.css">
        <link rel="stylesheet" href="../../css/styles.css">
        <title>EdBuilder</title>
    </head>
    <body>
        <!-- Navbar -->
        <nav class="navbar navbar-inverse">
          <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse" aria-expanded="true">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/show_dashboard/{{ user.getId }}">EdBuilder</a>
            </div>

            <div class="navbar-collapse collapse in" id="navbar-collapse" aria-expanded="true">
                <ul class="nav navbar-nav">
                    <li><a href="/show_dashboard/{{user.getId}}">Your Courses</a></li>
                    <li><a href="/show_course/{{course.getId}}">{{course.getTitle}} Units</a></li>
                    <li><a href="/show_unit/{{unit.getId}}">{{unit.getTitle}} Lessons</a></li>
                </ul>
              <ul class="nav navbar-nav navbar-right">
                <li><a href="/logout/{{ user.getId }}">Logout</a></li>
                <!-- <li><a href="/about">About</a></li> -->
              </ul>
            </div>
          </div>
        </nav>
        <!-- End Navbar -->

        <div class="container">
            <!-- Jumbo -->
            <div class="jumbotron well-shadow">
                <p><strong>Lesson Title:</strong> {{ lesson.getTitle }}</p>
                <p><strong>Objective:</strong> {{ lesson.getObjective }}</p>
                <p><strong>Materials:</strong> {{ lesson.getMaterials }}</p>
                <p><strong>Narrative:</strong> {{ lesson.getBody }}</p>

                <form action="/delete_lesson/{{ unit.getId }}/{{ lesson.getId }}">
                    <!-- Edit link is inside form for formatting purposes -->
                    <a class="btn btn-warning" href="/show_lesson_edit/{{ lesson.getId }}">Edit this lesson</a>

                    <input name="_method" type="hidden" value="delete">
                    <button type="submit" class="btn btn-danger">Delete this Lesson</button>
                </form>
            </div>
            <!-- End Jumbo -->
        </div>
    </body>
</html>
