<html>
    <head>
        <link rel="stylesheet" href="../../css/bootstrap.css">
        <title>EdBuilder</title>
    </head>
    <body>
        <!-- Navbar -->
        <nav class="navbar navbar-inverse">
          <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse" aria-expanded="true">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/show_dashboard/{{ user.getId }}">EdBuilder</a>
            </div>

            <div class="navbar-collapse collapse in" id="navbar-collapse" aria-expanded="true">
                <ul class="nav navbar-nav">
                    <li><a href="/show_dashboard/{{user.getId}}">Your Courses</a></li>
                    <li><a href="/show_course/{{course.getId}}">{{course.getTitle}} Units</a></li>
                </ul>
              <ul class="nav navbar-nav navbar-right">
                <li><a href="/logout/{{ user.getId }}">Logout</a></li>
                <!-- <li><a href="/about">About</a></li> -->
              </ul>
            </div>
          </div>
        </nav>
        <!-- End Navbar -->

        <div class="container">

            <!-- Jumbo -->
            <div class="jumbotron">
                <p><strong>Unit Title:</strong> {{ unit.getTitle }}</p>
                <p><strong>Description:</strong> {{ unit.getDescription }}</p>

                <form action="/delete_unit/{{ course.getId }}/{{ unit.getId }}">
                    <!-- Edit link is inside form for formatting purposes -->
                    <a class="btn btn-warning" href="/show_unit_edit/{{ unit.getId }}">Edit this unit</a>

                    <input name="_method" type="hidden" value="delete">
                    <button type="submit" class="btn btn-danger">Delete this Unit</button>
                </form>
                <p><strong>Heads up!</strong> Deleting a unit will delete its lessons as well.</p>
            </div>
            <!-- End Jumbo -->

            <!-- Lessons list -->
            <div class="well">
                <h3>Lessons in this unit:</h3>
                {% if lessons is not empty %}
                    {% for lesson in lessons %}
                        <a class="btn btn-default btn-lg btn-block" href="/show_lesson/{{ lesson.getId }}">{{ lesson.getTitle }}</a>
                    {% endfor %}
                {% else %}
                    <p>You don't have any lessons yet!</p>
                {% endif %}
            </div>
            <!-- End lessons list -->

            <!-- Add lesson form -->
            <div class="well">
                <form class="form-horizontal" action="/add_lesson/{{ course.getId }}/{{unit.getId}}" method="post">
                    <fieldset>
                        <div class="form-group">
                            <legend>Add a new lesson:</legend>
                            <label class="control-label col-lg-2" for="lesson_title">Title</label>
                            <div class="col-lg-10">
                                <input class="form-control" name="lesson_title" type="text" required />
                            </div>

                            <label class="control-label col-lg-2" for="lesson_objective">Objective</label>
                            <div class="col-lg-10">
                                <input class="form-control" name="lesson_objective" type="text" required />
                            </div>

                            <label class="control-label col-lg-2" for="lesson_materials">Materials</label>
                            <div class="col-lg-10">
                                <input class="form-control" name="lesson_materials" type="text" required />
                            </div>

                            <label class="control-label col-lg-2" for="lesson_body">Narrative</label>
                            <div class="col-lg-10">
                                <textarea class="form-control" rows="10" name="lesson_body" type="text"></textarea>
                                <span class="help-block">Narrate your lesson here. Be aware that formatting isn't saved yet. It's on the way, though!</span>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-lg-10 col-lg-offset-2">
                                <button type="submit" class="btn btn-success btn-lg">+</button>
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
            <!-- End add lesson form -->
        </div>
    </body>
</html>
